APP_NAME=mini-RAG-App
APP_VERSION=0.1
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE_MB=10
FILE_DEFAULT_CHUNK_SIZE=512000


MONGO_URL=mongodb://localhost:27007
MONGO_DB_NAME=mini-rag

# variable for Posgress DB
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE=

# ============================== LLM Config =====================================
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="CHOHERE"

OPENAI_API_KEY=
OPENAI_API_URL=
COHERE_API_KEY=

GENERATION_MODEL_ID_LITERAL = ["gpt-4o-mini" , "gpt-4o", "gpt-5-nano"]
GENERATION_MODEL_ID="gpt-4o-mini"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

DEFAULT_INPUT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

# ============================== Vector DB Config =====================================
VECTOR_DB_BACKEND_LITERAL = ["QDRANT" , "PGVECTOR"]
VECTOR_DB_BACKEND = "QDRANT"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DISTANCE_METHOD = "cosine"
VECTOR_DB_PGVEC_INDEX_THRESHOLD=100

# ============================== Template Configs =====================================
PRIMARY_LANG="en"
DEFAULT_LANG="en"

# ============================== Celery task queu Config =====================================
CELERY_BROKER_URL="amqp://user_name:password@localhost:5672/your_host"
CELERY_RESULT_BACKEND="redis://:password@localhost:6379/0"
CELERY_TASK_SERIALIZER="json"
CELERY_TASK_TIME_LIMIT=600
CELERY_TASK_ACKS_LATE=false
CELERY_WORKER_CONCURRENCY=2
CELERY_FLOWER_PASSWORD=your_flower_password
